.gform-body {
  input, textarea {
    -webkit-appearance: none;
    background-color: #eee;
    border-width: 0;
    border-radius: 0;
    padding: 14px 16px!important;
  }
}

.gform-light {
  color: #ffffff;
}

.et_pb_gform_button {
  cursor: pointer;
}